In [3]:
p = list(range(1,11))  # Now calls the list() constructor
print(p)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
t = tuple(range(1,11)) #creating tuple integer from 1 to 10
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
#accesing tuple elements

t = (1, 2, 3, 4, 5)
print(t[0], t[3], t[-1])

1 4 5

In [5]:
# Slice a tuple to get elements from index 2 to 6.
t = (1, 2, 3, 4, 5, 6, 7, 8)
print(t[2:7])

(3, 4, 5, 6, 7)

In [6]:
#  Find the length of a tuple.
t = (1, 2, 3, 4, 5)
print(len(t))

5

In [7]:
#Convert a list into a tuple
lst = [1, 2, 3, 4]

t = tuple(lst)
print(t)

(1, 2, 3, 4)

In [8]:
# Check if 7 exists in a tuple

t = (1,3,5,7,9)
print(7 in t )

True

In [11]:
#Repeat a tuple five times.
t = ("I love father")
print(t * 5)

I love fatherI love fatherI love fatherI love fatherI love father

In [12]:
#Count how many times 2 occurs.
t = (2, 4, 2, 6, 2, 8)
print(t.count(2))

3

In [13]:
#Find the index of the first occurrence of 9.
t = (1, 3, 9, 4, 9, 6)
print(t.index(9))

2

In [16]:
#creating a single element tuple

t = (5,)

print(type(t))

<class 'tuple'>

In [17]:
#concatenate two tuples
t1 = (1, 2, 3)
t2 = (4, 5, 6)

print(t1 + t2)

(1, 2, 3, 4, 5, 6)

In [18]:
#unpacking a tuple
t = (1, 2, 3)
a,b,c = t
print(a,b,c)

1 2 3

In [19]:
#swap first and last elements of a tuple
t = (10, 20, 30, 40, 50)

t = (t[-1],) + t[1:-1] + (t[0],)
print(t)

(50, 20, 30, 40, 10)

In [20]:
#reverse a tuple
t = (1, 2, 3, 4, 5)
t = t[::-1]
print(t)

(5, 4, 3, 2, 1)

In [21]:
#convert tuple of characters to a string
t = ('p','y','t','h','o','n')
print(''.join(t))

python

In [22]:
# Nested tuple access.
t = (1, (2, 3), (4, (5, 6)))
print(t[2][1][0])

5

In [24]:
# find max and min values
t = (10, 25, 3, 8, 50)

print(max(t), min(t))

50 3

In [26]:
#sort a tuple
t = (5, 2, 9, 1, 5, 6)
t = tuple(sorted(t))
print(t)

(1, 2, 5, 5, 6, 9)

In [28]:
# merge two tuples and sort the result
t1 = (1, 2, 3, 4)
t2 = (3, 4, 5, 6)

merged = tuple(set(t1+t2))
print(merged)

(1, 2, 3, 4, 5, 6)

In [29]:
#convert tuple into dictionary

t = ((1,"one"), (2,"two"), (3,"three"))

d = dict(t)

print(d)

{1: 'one', 2: 'two', 3: 'three'}

In [30]:
#extract the names of student  with grade A

t = (("Alice" , 21, "A"), ("Bob", 22 , "B"), ("charlie", 20 ,"A"))

names = tuple(s[0] for s in t if s[2] == "A")

print(names)

('Alice', 'charlie')

In [31]:
#check if all elements are identical

t = (25,25,25,25)

print(all(x == t[0] for x in t))

True

In [33]:
# find common element between tuples
t1 = (1, 2, 3, 4)
t2 = (3, 4, 5, 6)

common = tuple(set(t1) & set(t2))
print(common)

(3, 4)

In [34]:
#Split list of tuples into two tuples.
lst = [(1,2), (3,4), (5,6)]
t1, t2  = zip(*lst)
print(t1, t2)

(1, 3, 5) (2, 4, 6)

In [35]:
#find most frequent element
t = (2, 3, 2, 5, 2, 3, 3, 3)

most = max(t, key = t.count)
print(most)

3

In [36]:
#Replace 3rd element (immutability workaround).
t = (10, 20, 30, 40, 50)
lst = list(t)
lst[2] = 99
t = tuple(lst)
print(t)   # (10, 20, 99, 40, 50)

(10, 20, 99, 40, 50)

In [38]:
#keep only even numbers from a tuple
def even_tuple(t):
    return tuple(x for x in t if x % 2 == 0)

print(even_tuple((1, 2, 3, 4, 5, 6)))   # (2, 4, 6)

(2, 4, 6)

In [39]:
#Flatten nested tuple.
t = ((1,2),(3,4),(5,6))
flatttend = tuple(x for tup in t for x in tup)
print(flatttend)

(1, 2, 3, 4, 5, 6)

In [41]:
# tuple for square

t = tuple(x**2 for x in range(1, 11))
print(t)   # (1, 4, 9, ..., 100)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [42]:
#convert  sentence to tuple of words
s = "This is a sample sentence"
t = tuple(s.split())    
print(t)

('This', 'is', 'a', 'sample', 'sentence')